<!DOCTYPE html>
<html>
	<head>
		<title>Login-Page</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="style.css">
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap" rel="stylesheet">
	</head>
	<body id="login-back">

		<div class="container">
			
			<div class="login-box">
				<h2>Welcome Back</h2>
				<h2 id="txt">LOGIN</h2>
				<form>
					
					<div>
						<input class="text" type="text" id="username" name="username" placeholder="Username">
					</div>

					<div>
						<input type="password" name="senha" id="senha" placeholder="Password">
					</div>

					<div class="remember">
					<a href="signUp.html"><div id="formatar">Sign Up</div></a>	
					</div>
						 
					<div>
						<a href="home.html"><input class="submit" type="submit" value="sign in"></a> 
					</div>

					
				</form>
			<div class="rights">
				<h3 id="dif">©2021 Working Sign in. All rights reserved | Design by <span class="color">guilhermefcs7</span></h3>
			</div>

			</div>

			<div class="picture">
				<img src="assets/images/fundo3.png">
			</div>

		</div>

	</body>
</html>