<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>signUp</title>
</head>
<body>
  
    <div class="container">
        <div class="box">
        <h2 id="txt">SignUp</h2>

            <form>
                <div class="signupBox">

                    <div class="row">
                        <div class="input-field col s6">
                          <input  id="first_name2" type="text" class="validate">
                          <label class="active" for="first_name2">First Name</label>
                        </div>
                      </div>

                      <div class="row">
                        <form class="col s12">
                          <div class="row">
                            <div class="input-field col s12">
                              <input id="email" type="email" class="validate">
                              <label for="email">Email</label>
                              <span class="helper-text" data-error="wrong" data-success="right"></span>
                            </div>
                          </div>
                        </form>
                      </div>

                      <div class="row">
                        <div class="input-field col s6">
                          <input  id="first_name2" type="text" class="validate">
                          <label class="active" for="first_name2">Username</label>
                        </div>
                      </div>

                      <div class="row">
                        <div class="input-field col s6">
                          <input  id="first_name2" type="text" class="validate">
                          <label class="active" for="first_name2">Password</label>
                        </div>
                      </div>
                      <a href="index.html" style="margin-left: 40%;" class="waves-effect waves-light btn-large">Sign UP</a>
                    </div>
            </form>        
        </div>
    </div>
</body>
</html>